.DS_Store
.vscode/
__pycache__/
*.pyc
.venv/
.env
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
compile_commands.json
firmware/**/.pio/
firmware/**/.vscode/
firmware/**/include/secrets.h
